
figure {
  display: table;
  float: right;
}
figcaption {
  display: table-caption;
  caption-side: bottom;
  font-style: italic
}

body {
  writing-mode: horizontal-tb;
  margin-left: auto;
  margin-right: auto;
  marg
  width: 70%
}
h1{
	size: 32px;
	font-family : 'Arial Narrow','Verdana','Roboto', 'Helvetica Nue',sans-serif;
}

table{
	border: 1px solid black
}
